ul.qq-upload-list a {
      pointer-events: none;
       cursor: default;
       text-decoration: none;
       font-weight:normal;
       color: #191d5e;
}
.qq-upload-cancel {
    pointer-events: auto !important;
    text-decoration: normal;
}
div.ui-tooltip {
    max-width: 600px !important;
    font-size: 10pt !important;
    overflow-wrap: break-word;
}

p.mtip_copy {
   font-size: 9.5pt;
   word-wrap: break-word;
   overflow-wrap: break-word;
}