ul.qq-upload-list a {
      pointer-events: none;
       cursor: default;
       text-decoration: none;
       font-weight:normal;
       color: #191d5e;
}
.qq-upload-cancel {
    pointer-events: auto !important;
    text-decoration: normal;
}
div.ui-tooltip {
    max-width: 600px !important;
    font-size: 10pt !important;
}
div.annotation {
	border: 2px solid black;
	width: 600px;
	height: 80px;
	overflow:auto;
	padding: 4px;
	display: none;
}
span.anno {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: black;
}
.mtt_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.mtt_tooltip .mtt_tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;  
  padding:12px;
  border-radius: 6px;  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -100px;
}

.mtt_tooltip:hover .mtt_tooltiptext {
  visibility: visible;
}
